.loginHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
}

button {
    background-color: cadetblue;
    color: #fff;
    font-family: fangsong;
    cursor: pointer;
    border-radius: 5px;
}
.addButton {
    width: 70px;
    margin: 10px;
    font-size: 24px;
    font-weight: 400;
}
.logoutButton {
    font-size: 24px;
    font-weight: 600;
}

.saveButton, .cancelButton {
    width: 70px;
    margin: 10px;
    font-size: 18px;
    font-weight: 300;
}

input {
    height: 30px;
    width: 260px;
    font-size: 24px;
    font-family: emoji;
}

.task {
    input {
        height: 20px;
        width: 220px;
        font-size: 18px;
        font-family: emoji;
    }
    .tasksList {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;

        .completedTask {
            text-decoration: line-through;
        }

        .taskName {
            font-size: 24px;
            font-family: emoji;
            width: 100px;
            >input {
                height: 18px;
                width: 18px;
            }
        }
        .buttons {
            button {
                margin-right: 10px;
            }
        }
    }
}