.taskManagement {
    width: 70%;
    text-align: center;
    margin: 75px auto;
    background-color: #F6F4F0;
    border: 2px solid #2E5077;
    border-radius: 3px;

    h1 {
        font-family: cursive;
        background-color: #2E5077;
        color: #F6F4F0;
        padding: 20px;
    }

    .authApp {
        padding: 30px;
    }
}